    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Oswald', sans-serif;
        background-color: rgba(0, 0, 0);
        color: white;
    }

    nav{
        z-index: 3;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 8vh;
        background-color: rgba(45, 46, 46, 0);
    }
    .logo{
        color: rgb(124, 231, 231);
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 20px;
    }
    

    .nav-links{
        display: flex;
        justify-content: space-around;
        width: 30%;
    }

    .nav-links li{
        list-style: none;
    }
    /* .nav-links a{
        color:  rgb(233, 214, 214);
        text-decoration: none;
        letter-spacing: 3px;
    } */
    
    .nav-links .link-3 {
        letter-spacing: 3px;
        transition: 0.4s;
        color: #ffffff;
        font-size: 20px;
        text-decoration: none;
        padding: 0 10px;
        margin: 0 10px;
      }
      .link-3:hover {
        background-color: #ffffff;
        color: #EEA200;
        padding: 24px 10px;
      }


    .bur{
        display: none;
        cursor: pointer;
        transform: translateX(150%);

    }
    .bur div{

    background-color: rgb(0, 0, 0);;
    width: 25px;
    height: 3px;
    margin: 5px;
    transition: all 0.3s ease;

    }
    @media screen and (max-width:1024px){
        .nav-links{
            width: 55%;
        }
    }
    @media screen and (max-width:760px){
        body{
            overflow-x: hidden;
        }
        .nav-links{
            position: absolute;
            right: 0px;
            height: 92vh;
            top: 11.4vh;
            background-color: rgba(45, 46, 46, 0.0) ;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            margin: 0;
            width: 30%;
            transform:translateX(100%);
            transition: transform 0.5s ease-in;
        }
        .nav-links ul{
            opacity: 0;
        }

        .nav-links a{
            color: rgb(255, 0, 0);
           
        }

        .bur{
            display: block;
        }

        .cont .imgc #img-background{
            display: block;
        }
        .videoc{
            display: none;
        }
        
    }

    .nav-active{
        transform: translateX(0%);
    }

    @keyframes navFade{
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .toggle .line1{
        transform: rotate(-45deg) translate(-5px,6px);
    }
    .toggle .line2{
        opacity: 0;
    }
    .toggle .line3{
        transform: rotate(45deg) translate(-5px,-6px);
    }
    
    .cont{
        max-width:960;
        padding-left: 1rem;
        padding-right: 1rem;
        margin: auto;
        text-align: center;
    }

    /*#fv{
        position: absolute; 
        right: 0; 
        bottom: 0;
        min-width: 100vw; 
        max-height: 99vh;
        left: 0;
        z-index: -1;
        background-size: cover;
        overflow: hidden;
        top:0;
        transform: translateX(-1px);
    }*/
    .v-header{
        height: 100vh;
        display: flex;
        align-items: center;
    
    }
    
    
    .container{
        max-width:1200;
        padding-left: 1rem;
        padding-right: 1rem;
        margin: auto;
        text-align: center;
    }

    #video-background {
        /*  making the video fullscreen  */
        position: absolute;
        right: 0;
        bottom: 0;
        min-width: 100vw;
        max-height: 100vh;
        width: auto;
        height: auto;
        z-index: -1;
        
      }
      
      #img-background {
        position: absolute;
        z-index: -1;
        display: none;
        width: auto;
        height: auto;
        position: fixed;
        right: 50px;
        left: 50px;
        bottom: 0;
        min-width: 100%;
        max-height: 100vh;

    }


    .header-over{
        
        height:100vh;
        width:100vw;
        position: absolute;
        top: 0;
        left: 0;
        background: #19344427;
        z-index:1;
        align-content: center;
        text-align: start;
        padding-top: 20%;
        padding-left: 5%;
    }
    
    .header-con{
        z-index: 2;
    }
    
    .header-con p{
        font-size: 2rem;
        display: block;
        padding-bottom: 2.5rem;
    }
    
    .btn{
        background: #587513;
        color: #fff;
        font-size: 1.5rem;
        padding: 1rem 2 rem;
        text-decoration: none;
        transition: 0.5s;
        
    }
    .btn:hover{
        background-color: rgba(207, 177, 148, 0.849);
    }
    
    .ig{
        position: absolute;
        min-width: auto;
        min-height: auto;
        z-index: -1;
    }